<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
    <delegateCommandHandler class="mdeditor.java.pushdown.PushDownCommandHandler">
      <command id="mdeditor.java.pushDown.check"/>
      <command id="mdeditor.java.pushDown.resolve"/>
      <command id="mdeditor.java.pushDown.preview"/>
    </delegateCommandHandler>
  </extension>
</plugin>
